* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.App {
  margin: auto;
  width: 100vw;
  height: 120vh;
  text-align: center;
  color: white;
  background-image: url("../images/universe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;


  h1 {
    padding-top: 1rem;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
  }

  .container {
    margin: auto;
    text-align: center;
    width: 80vw;
    height: 100vh;

    .settings {
      display: block;
      margin-top: 1rem;
      width: 50rem;
      justify-content: center;

      .main_settings {
        display: flex;

        .main_info {
          justify-content: space-between;
          margin: auto;
          font-size: 2rem;
        }
      }

      .cards {
        margin: auto;
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: repeat(5, auto);
        grid-gap: 7px;

        div {
          height: 150px;
          width: 200px;
          justify-content: space-between;
          border: 1px solid white;
          color: white;
          border-radius: 4px;
          cursor: pointer;
          position: relative;

        }

        .red {
          background-color: red;
        }

        .yellow {
          background-color: yellow;
        }

        .yellowgreen {
          background-color: yellowgreen;
        }

        .blue {
          background-color: blue;
        }

        .pink {
          background-color: pink;
        }

        .violet {
          background-color: blueviolet;
        }

        .orange {
          background-color: orange;
        }

        .darkviolet {
          background-color: darkmagenta;
        }

        .grey {
          background-color: grey;
        }

        .turquoise {
          background-color: turquoise;
        }

        .hidden {
          background-image: url("../images/bubble-chat.png");
          background-color: white;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0.8;
          border: 2px solid white;
          z-index: 100;

        }

        .off {
          background-color: transparent;
          border: transparent;
        }
      }
    }
  }
}


