* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;


}

.App {
  margin: auto;
  text-align: center;
  color: white;
  background-image: url("../images/universe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;


  h1 {
    padding-top: 1rem;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
  }

  .container {
    margin: auto;
    text-align: center;
    width: 80vw;
    height: 100vh;

    .settings {
      display: block;
      margin-top: 1rem;
      width: 50rem;
      justify-content: center;

      .main_settings {
        display: flex;

        .main_info {
          justify-content: space-between;
          margin: auto;
        }
      }

      .cards {
        margin: auto;
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: repeat(5, auto);
        grid-gap: 7px;

        .card {
          height: 150px;
          width: 200px;
          justify-content: space-between;
          -webkit-appearance: none;
          appearance: none;
          background-image: url("../images/bubble-chat.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid white;
          color: white;
          border-radius: 4px;
          cursor: pointer;
          position: relative;





          &:before, &:after{
            position: absolute;
            content: '';
            display: block;
            width: 150%;
            height: 150%;
            transition: all ease-in-out 2s;
            background-repeat: no-repeat;
            z-index: 10;
            left: -20%;
          }

          &:before{
            display: none;
            top: -90%;
            background-image:
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle,  transparent 20%, white 20%, transparent 30%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle,  transparent 10%, white 15%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%);
            background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
            //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
          }

          &:after{
            display: none;
            bottom: -75%;
            background-image:
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle,  transparent 10%, white 15%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%),
                    radial-gradient(circle, white 20%, transparent 20%);
            background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;

          }

          &:active{
            transform: scale(0.9);
            background-color: darken(darkorange, 5%);
          }

          &.animate{
            &:before{
              display: block;
              animation: topBubbles ease-in-out 0.75s forwards;
            }
            &:after{
              display: block;
              animation: bottomBubbles ease-in-out 0.75s forwards;
            }
          }
        }
        @keyframes topBubbles {
          0%{
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
          }
          50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
          100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
          }
        }

        @keyframes bottomBubbles {
          0%{
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
          }
          50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
          100% {
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
            background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
          }
        }
        }


      }
    }
  }

.jello-horizontal {
  animation: jello-horizontal .9s both
}


@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1)
  }
  30% {
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    transform: scale3d(.75, 1.25, 1)
  }
  50% {
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    transform: scale3d(1, 1, 1)
  }
}

